.container {
    max-width: 2000px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 2200px) and (max-width: 3000px) {
    .container {
        max-width: 1500px;
    }
}

@media (max-width: 2199px) {
    .container {
        max-width: 1000px;
    }
}
