@charset "UTF-8";

:root {
  --color-black: #1f1f1f;
  --color-white: #ffffff;
  --color-gray-light: #fafafa;
  --color-gray: #ccc;
  --font-base: "Zen Kaku Gothic New", sans-serif;
  --font-heading: "Zen Old Mincho", serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 400;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  color: var(--color-black);
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.5;
}
iframe {
  vertical-align: bottom;
}
.btn {
  border-radius: 9999px;
}

p {
  font-size: 1.1em !important;
}